
.Navbar ul{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
justify-content: space-evenly;
text-align: center;
align-items: center;
background: rgb(31, 30, 30);
list-style: none;

}
.Navbar ul li a{
    text-decoration: none;
    color:grey;
}
.Navbar .Logo a{
    font-size: 30px;
    color:grey;
}
